<div fxLayout="column" fxLayoutGap="16px">
  <mat-toolbar color="primary" fxLayoutAlign="center center">
    Questions/Answers
  </mat-toolbar>
  
  <mat-card *ngFor="let q of questions | async">
    {{ q | json }}
  </mat-card>

  <mat-card>
    <mat-card-content>
      <form>
        <mat-form-field fxFlex>
          <input [formControl]="question" matInput placeholder="Ask your question :)">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitQuestion()">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>